Authur Maad Saifuddin

In [3]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

# Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [5]:
list=['Apple','Banana','Graps','Orange','Mango']
data=pd.Series(list)
print(data)

0     Apple
1    Banana
2     Graps
3    Orange
4     Mango
dtype: object

# Write a Python program to convert a Panda module Series to Python list and it's type

In [40]:
data.values.tolist()

['Apple', 'Banana', 'Graps', 'Orange', 'Mango']

# Write a Python program to add, subtract, multiple and divide two Pandas Series.
 Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [11]:
data1=pd.Series([2,4,6,8,10])
data2=pd.Series([1,3,5,7,9])
addition=data1+data2
subtraction=data1-data2
multiple=data1*data2
divide=data1/data2
print("Additon of Series \n",addition,"\n")
print("Subtraction of two Series \n",subtraction,"\n")
print("Product of two Series \n",multiple,"\n")
print("Division of two Series \n",divide,"\n")

Additon of Series
 0     3
1     7
2    11
3    15
4    19
dtype: int64

Subtraction of two Series
 0    1
1    1
2    1
3    1
4    1
dtype: int64

Product of two Series
 0     2
1    12
2    30
3    56
4    90
dtype: int64

Division of two Series
 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

# Write a Python program to get the largest integer smaller or equal to the division of the inputs.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [14]:
print("Greater than \n",data1>data2,"\n")
print("Less than \n",data1<data2,"\n")
print("Equal To \n",data1==data2,"\n")

Greater than
 0    True
1    True
2    True
3    True
4    True
dtype: bool

Less than
 0    False
1    False
2    False
3    False
4    False
dtype: bool

Equal To
 0    False
1    False
2    False
3    False
4    False
dtype: bool

# Write a Python program to convert a dictionary to a Pandas series.
Sample Series: 
Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

In [17]:
data3={ 'a':100,
       'b':200,
       'c':300,
       'd':400,
       'e':800
}
pd.Series(data3)

a    100
b    200
c    300
d    400
e    800
dtype: int64

# 7. Write a Python program to change the data type of given a column or a Series.

In [ ]:
Sample Series: 
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object
Change the said data type to numeric:
0 100.00
1 200.00
2 NaN
3 300.12
4 400.00
dtype: float64

In [28]:
data4=pd.Series([100,200,'python','300.12',400])
print("Sample Data \n",data4,"\n")
pd.to_numeric(data4,errors='')

Sample Data
 0       100
1       200
2    python
3    300.12
4       400
dtype: object

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

# 8. Write a Python Pandas program to convert the first column of a DataFrame as a Series. Go to the editor

Sample Output: 
Original DataFrame
col1 col2 col3
0 1 4 7
1 2 5 5
2 3 6 8
3 4 9 12
4 7 5 1
5 11 0 11
1st column as a Series:
0 1
1 2
2 3
3 4
4 7
5 11
Name: col1, dtype: int64

In [32]:
data5=pd.DataFrame({'col1':[1,2,3,4,7,11],'col2':[4,5,6,9,5,0],'col3':[7,5,8,12,1,11]},index=[0,1,2,3,4,5])
data5

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

In [36]:
data6=pd.Series(data5['col1'])
data6

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

# 9. Write a Pandas program to convert a given Series to an array.

Sample Output: 
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object
Series to an array
['100' '200' 'python' '300.12' '400']

In [39]:
data7=pd.Series([100,200,'python',300.12,400])
print(data7)
data8=np.array(data7.values.tolist())
data8

0       100
1       200
2    python
3    300.12
4       400
dtype: object

array(['100', '200', 'python', '300.12', '400'], dtype='<U11')

# 10. Write a Pandas program to convert Series of lists to one Series.

In [ ]:
Sample Output: 
Original Series of list
0 [Red, Green, White]
1 [Red, Black]
2 [Yellow]
dtype: object
One Series
0 Red
1 Green
2 White
3 Red
4 Black
5 Yellow
dtype: object

In [54]:
list1=['Red','Green','White']
list2=['Red','Black']
list3=['Yellow']
data9=pd.Series([list1,list2,list3])
print(data9)
data9= data9.apply(pd.Series).stack().reset_index(drop=True)
data9

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

# 11. Write a Pandas program to sort a given Series.

Sample Output: 
Original Data Series: 
0 100
1 200
2 python
3 300.12
4 400
dtype: object
0 100
1 200
3 300.12
4 400
2 python
dtype: object

In [69]:
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s1)
new_s =s1.sort_values()
print(new_s)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
0       100
1       200
3    300.12
4       400
2    python
dtype: object

# 12. Write a Pandas program to add some data to an existing Series.

Sample Output: 
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object
Data Series after adding some data:
0 100
1 200
2 python
3 300.12
4 400
0 500
1 php
dtype: object

In [74]:
# print("Original Data \n",data7,'\n')
data7.append(pd.Series([500,'php']))

0       100
1       200
2    python
3    300.12
4       400
0       500
1       php
dtype: object

# 13. Write a Pandas program to create a subset of a given series based on value and condition.

In [ ]:
Sample Output: 
Original Data Series:
0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9
10 10
dtype: int64
Subset of the above Data Series:
0 0
1 1
2 2
3 3
4 4
5 5
dtype: int64

In [77]:
s1=pd.Series([1,2,3,4,5,6,7,8,9,10])
print(s1)
s1[s1<6]

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

0    1
1    2
2    3
3    4
4    5
dtype: int64

# 4. Write a Pandas program to change the order of index of a given series.

Sample Output: 
Original Data Series:
A 1
B 2
C 3
D 4
E 5
dtype: int64
Data Series after changing the order of index:
B 2
A 1
C 3
D 4
E 5
dtype: int64

In [85]:
s1=pd.Series([1,2,3,4,5],index=['A','B','C','D','E'])
print(s1)
s1.reindex(index=['B','A','C','D','E'])

A    1
B    2
C    3
D    4
E    5
dtype: int64

B    2
A    1
C    3
D    4
E    5
dtype: int64

# 15. Write a Pandas program to create the mean and standard deviation of the data of a given Series.

Sample Output: 
Original Data Series:
0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 5
10 3
dtype: int64
Mean of the said Data Series:
4.81818181818
Standard deviation of the said Data Series:
2.52262489555

In [91]:
s4=pd.Series([1,2,3,4,5,6,7,8,9,5,3])
print(s4)
print("Mean of the Series is ",s4.mean())
print('Standard Deviation of the Series ',s4.std())

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int64
Mean of the Series is  4.818181818181818
Standard Deviation of the Series  2.522624895547565