In [5]:
tup = 3,4,5
tup

(3, 4, 5)

In [6]:
tup1 = (4,5,6),(7,8,9)
tup1

((4, 5, 6), (7, 8, 9))

In [8]:
tup2=tuple([4,5,6])
tup2

(4, 5, 6)

In [11]:
tup6=tuple('string')
tup6

('s', 't', 'r', 'i', 'n', 'g')

In [14]:
data=tuple(['foo',[1,2,3,4],True])
data[1].append(5)
data

('foo', [1, 2, 3, 4, 5], True)

In [15]:
(4,'foo')+(5,'fun')+(6,'go')

(4, 'foo', 5, 'fun', 6, 'go')

In [16]:
('foo',4)*4

('foo', 4, 'foo', 4, 'foo', 4, 'foo', 4)

# Unpacking tuples

In [24]:
tup=(4,5,6)
a,b,c = tup
c

6

In [25]:
data = 3,4,(5,6)
a,b,(c,d) = data
c

5

Swapping var in python

In [27]:
a,b=1,2
print(a)
print(b)

1
2

In [30]:
b,a=a,b
print(a)
print(b)

2
1

In [33]:
seq = [(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in seq:
    print('a={0},b={1},c={2}'.format(a,b,c))

a=1,b=2,c=3
a=4,b=5,c=6
a=7,b=8,c=9

In [43]:
values = 1,2,3,4,5,6
a,b,c,*rest =  values
print('a={0},b ={0}'.format(a,b))

a=1,b =1

In [46]:
values1=(1,2,2,2,2,2,2,2,2,2,4,4,4,4,4,4,6,6,6,6,6,6,8,8,8,8,1,1,1,1,13)
values1.count(2)

9

In [64]:
gem = range(0,20)
gem

range(0, 20)

In [77]:
seq = [1,2,3,4,5,6,7,8,9]
seq[2:7]

[3, 4, 5, 6, 7]

In [76]:
seq[2:7]=[7,8]
seq

[1, 2, 7, 8, 8, 9]

In [78]:
seq[:5]

[1, 2, 3, 4, 5]

In [80]:
seq[5:]

[6, 7, 8, 9]

In [81]:
seq[-6:-2]

[4, 5, 6, 7]

In [88]:
seq[::2]

[1, 3, 5, 7, 9]

In [86]:
seq[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [89]:
data=['foo','zoo','1',2,3,4,5,6,7,8,9]
for i,value in enumerate(data):
    print(i,value)

0 foo
1 zoo
2 1
3 2
4 3
5 4
6 5
7 6
8 7
9 8
10 9

In [94]:
mapping={}
fun=['foo','bar','fun']
for i,value in enumerate(fun):
    mapping[value]=i

mapping

{'foo': 0, 'bar': 1, 'fun': 2}

In [95]:
sorted('Maad Saifuddin')

[' ', 'M', 'S', 'a', 'a', 'a', 'd', 'd', 'd', 'f', 'i', 'i', 'n', 'u']

In [98]:
data1= ['Maad','Hussain','Moiz']
data2 = ['Saifuddin','Murtaza','AliAbedin']
zipped = zip(data1,data2)
list=[zipped]
list

# Dictionary

In [106]:
d1={'Name':'Maad','Last Name':'Saifuddin'}
d1
d1['Name']
d1[5]='Integer'
d1
'Name' in d1

True

In [109]:
del d1['Name']
d1

{5: 'Integer'}

In [110]:
arr= d1.pop(5)
arr

'Integer'

In [111]:
d1

{}

In [3]:
d1={'Name':'Jamila','Last Name':'Maad','Surname':'Rampurawala'}
d1.keys()
d1.values()

dict_values(['Jamila', 'Maad', 'Rampurawala'])

In [5]:
d1.update({'Name':'Jamila Darling','Age':19})
d1

{'Name': 'Jamila Darling',
 'Last Name': 'Maad',
 'Surname': 'Rampurawala',
 'Age': 19}

In [6]:
mapping = dict(zip(range(4),reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1}

In [19]:
words = ['Apple','Atom','Banana','Bar']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
        
by_letter

{'A': ['Apple', 'Atom'], 'B': ['Banana', 'Bar']}

In [22]:
hash('Strings')

1318823972497485561

In [23]:
d={}
d[tuple([1,2,3])]=5
d

{(1, 2, 3): 5}

In [27]:
set([2,2,2,2,3,3,3,3,1,1,1,1,5,5,5,5])

{1, 2, 3, 5}

In [28]:
{1,1,1,1,1,2,2,2,2,2,2,2,3,3,3,}

{1, 2, 3}

In [31]:
a={1,2,3,3,4,5,6,7,8,9,10}
b={10,1,2,3,4,5,6,7,8,9,11,12,13,14}
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [32]:
a.intersection(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [33]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [34]:
a & b

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [39]:
data=['Man','Women','a','b','c']
[i.upper() for i in data if len(i) > 2]

['MAN', 'WOMEN']

In [42]:
set(map(len,data))

{1, 3, 5}

In [46]:
data1 = [['John','Smith','Emily','Michale','Mary','Steven'],
         ['Maria','Juan','Javier','Natalia','Pilar']]
for name in data1:
    print(name[0])

John
Maria

In [47]:
def myfunc(x,y,z=0.5):
    if z>1:
        return z*(x+y)
    else:
        return z / (x+y)

a=myfunc(10,20,30)
a

900

In [49]:
b=myfunc(12,13)
b

0.02

In [52]:
c=myfunc(x=90,z=5,y=89)
c

895

In [56]:
a=None
def function():
    global a
    a=[2,3,4,5]
function()
print(a)

[2, 3, 4, 5]

In [58]:
a=[]
def function():
    a=[2,3,4,5]
    print(a)
function()

[2, 3, 4, 5]

In [63]:
def f():
    a=1
    b=2
    c=3
    return a,b,c
a,b,c=f()
a

1

In [64]:
def f():
    a=1
    b=2
    c=3
    return {'a':a,'b':b,'c':c}

f()

{'a': 1, 'b': 2, 'c': 3}

In [65]:
b=lambda x: x*2
b(2)

4